/* Text Colors*/
$textprimary-color: #ffffff;
$textsecondary-color: #ff0039;

/* Base Colors*/
$primary-color: #ff0039;
$secondary-color: #333333;

/* System Colors*/
$night-color: #1a1a1a;
$black-color: #333333;
$red-color: #1a1a1a;
$pink-color: #c00044;
$purple-color: #81004f;

/* Themes Colors*/
$backend-color: #333333;
$frontend-color: #0091b7;
$fullstack-color: #f8c116;
$bots-color: #e44d26;
$other-color: #81004f;